
body{
  padding-top: rem(262px);
  font: 300 rem(17px)/1.64 $gotham;
  letter-spacing: 0.4px;
}

.container {
  max-width: rem(1480px);
  padding: 0 rem(5px);
  margin: 0 auto;
  width: 100%;
}

.title{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 0.9;
  font-family: $intro;

}
.prise_room{
  .title_item{
    margin-bottom: rem(80px);
  }
}
.line_bottom {
  display: flex;
  width: 100%;
  max-width: rem(1490px);
  height: rem(70px);
  background-color: #ffffff;
  color: #40b8eb;
  box-shadow: 0 6px 18px rgba(64, 184, 235, 0.31);
  margin-top: rem(30px);
  p {
    width: 100%;
    font-family: "Gotham Pro";
    font-size: 40px;
    font-weight: 300;
    line-height: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}