
.rent_of_rooms {
  display: flex;
  width: 100%;

  p {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 17px;
    font-weight: 700;
    line-height: 1.6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: rem(105px);
    background-color: $table_head-color;
    border-right: rem(1px) solid #ffffff;
    border-bottom: rem(1px) solid #ffffff;
    span {
      font-weight: 300;
    }
    &:nth-child(1) {
      flex: 1 1 rem(270px);
    }
    &:nth-child(n+2) {
      flex: 1 1 rem(405px)
    }

  }
}

.rent_of_rooms-item {
  display: flex;
  width: 100%;
  p {
    color: #252a2d;
    font-family: "Gotham Pro";
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: rem(50px);
    border-right: rem(1px) solid #ffffff;
    border-bottom: rem(1px) solid #ffffff;
    &:nth-child(1) {
      background-color: $table_left-color;
      flex: 1 1 rem(270px);
    }
    &:nth-child(n+2) {
      background-color: $table_bgc;
      flex: 1 1 rem(405px);
    }
  }
}