
.container {

  .title_item {
    margin-top: rem(80px);
  }
  .individual_customers_table {
    display: flex;
    width: 100%;
    p {
      font-family: "Gotham Pro";
      font-size: 20px;
      font-weight: 700;
      height: rem(105px);
      width: 100%;
      background-color: $table_head-color;
      border-right: rem(1px) solid #fff;
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:nth-child(odd) {
        flex: 1 1 rem(270px);
      }
      &:nth-child(even) {
        flex: 1 1 rem(940px);
      }
      &:last-child {
        border-right: none;
      }
    }

  }
  .individual_customers_table-item {
    display: flex;
    width: 100%;
    min-height: rem(50px);
    p {
      width: 100%;
      font-family: "Gotham Pro";
      font-size: 20px;
      margin-bottom: 2px;
      border-right: rem(1px) solid #ffffff;
      padding: rem(15px) rem(5px);
      text-align: center;

      &:nth-child(1) {
        background-color: $table_left-color;
        flex: 1 1 rem(270px);

      }
      &:nth-child(2) {
        flex: 1 1 rem(940px);
        background-color: $table_bgc;
        padding-left: 3.5%;
        padding-right: 3.5%;
      }
      &:nth-child(3) {
        flex: 1 1 rem(270px);
        background-color:$table_bgc;
        border-right: none;
      }

    }
  }
}