$one-rem: 16px;

$url-path: "../../";

$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$sky_color: #2fa9d2;
$red_color: #d71919;
$table_head-color:#40b8eb;
$table_left-color: #c2e1ee;
$table_bgc: #f7f7f7;
$skyBlue_color:#1f8ac6;
/*fonts*/
$gotham: "Gotham Pro", sans-serif;
$intro: "Intro", sans-serif;
